// Required
@import "../../node_modules/bootstrap/scss/functions";

// Default variable overrides
  // $body-bg: #000;
  // $body-color: #111;
$primary: #fdc000;

$container-max-widths: (
  sm: 540px,
  md: 704px,
  lg: 924px,
  xl: 1140px,
  xxl: 1364px
);

$theme-colors: (
  "primary":    orange,
  "secondary":  red,
  "success":    blue,
  "info":       pink,
  "warning":    aqua ,
  "danger":     green,
  // "light":      $light,
  // "dark":       $dark
) ;

// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
// @import "../node_modules/bootstrap/scss/root";

@import "../../node_modules/bootstrap/scss/bootstrap"


// $color--black: #000;
// $color--white: #fff;

// body {
//   background-color: $color--black;
//   h1 {
//     color: $color--white;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
// }